    /* Header Styling */
    header {
      background-color: #8383ec;
      padding: 20px;
      color: #f0f0f0;
    }
    
    /* Introduction Section */
    .introduction {
      background-color: #f0f0f0;
      margin: 20px;
      padding: 20px;
    }
    
    /* Skills Display */
    .skills {
      padding: 10px;
    }
    
    .skills ul {
      list-style: none;
      padding: 0;
    }
    
    .skills li {
      border: 1.5px solid #5b50f2;
      padding: 10px;
      margin-bottom: 10px;
    }
    
    /* Contact Information */
    .contact {
      background-color: #f0f0f0;
      padding: 20px;
    }
    .social {
        font-size: 20px;
    }
    .social a{
        margin-right: 10px;
        color: #007bff;
    }
    .social a:hover {
        color: #0056b3; 
      }
    
    /* Responsive Design */
    @media screen and (max-width: 600px) {
      .introduction, .contact {
        margin: 10px;
      }
      .skills li {
        margin-bottom: 5px;
      }
    }
  